/*------resetTrang----*/
/* @import "../fonts/font.css";
body,button{
	font-family: Trajan, arial;
	font-size:13px;
}
p{
	font-family: Roboto-Regular, arial;
	font-size:13px;
} */
html {
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: #f7f7f7;
}

:focus { /* remember to define focus styles! */
	outline: 0;
}

:hover {
	transition: .1s;
}

header, a, ul, li, div {
	transition: .7s all;
}

html, body, form, h1, h2, h3, p, button, ul, div {
	margin: 0;
	padding: 0;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	vertical-align: middle;
	border: 0;
	max-width: 100%;
}

div {
	display: block;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

table {
	background-color: transparent;
	border-collapse: collapse;
	display: table;
	border-spacing: 2px;
	border-color: grey;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

/*-------main csss-----*/
/*-----header---*/
#header .navbar-right .li-image-taikhoan{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    vertical-align: middle;
}
#header .navbar-right .header-nguoidung{
	width:215px;
}

/*-----*/
/* .popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	padding: 0px;
	z-index: 5;
	background-color: rgb(0, 0, 0); Fallback color
	background-color: rgba(0, 0, 0, 0.4); Black w/ opacity
}

body {
	margin: 0;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding: 0px;
    z-index: 15;
     background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0,0.4); Black w/ opacity
}
body{
    margin: 0;
}
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding: 0px;
    z-index: 15;
     background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0,0.4); Black w/ opacity
} */
body{
    margin: 0;
}
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding: 0px;
    z-index: 21;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.popup-inner {
    width: 40%;
    height: 645px;
    top: 8px;
    left: 29%;
    position: relative;
    background: #fff;
    border-radius: 6px;
}
.popup-inner .popup-header{
	background: #ff9647;
	color: #fff;
	padding: 30px;
	padding-bottom:10px;
	padding-top:25px;
	border-radius: 6px 6px 0px 0px;
	text-transform: uppercase;
}
.popup-inner .popup-content{
	padding: 0px 30px;
}
 .popup-inner h2{
	font-size: 23px;
} 
.popup-inner input,
.popup-inner select{
    width: 93%;
    height: 28px;
    padding-left: 15px;
    border-radius: 4px;
    border-top: 0px;
    border-left: 0px;
    border: 1px solid #ccc;
}
.popup-inner input:hover{
	border: 1px solid #ff9647;
}
.popup-inner p{
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 17px;
}
.popup-inner span{
	color: red;
	font-size: 13px;
	font-style: italic;
}
.popup-inner.xac-nhan{
	height: 520px;
}
.popup-inner.xac-nhan p{
	 padding-top: 30px;
	 font-size: 16px;
}
.popup-inner.xac-nhan span{
	font-style: italic;
	font-size: 15px;
	color: #000;
}
.popup-body{
    overflow: hidden;
}
.heading2 {
	font-weight: bold;
	font-size: 28px;
	margin: 0;
	padding-bottom: 30px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
}

.gen-text {
	font-family: "Nunito";
	font-weight: 300;
	color: #4A4A4A;
	letter-spacing: 0.32px;
	line-height: 25px;
	font-size: 16px;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.section-space {
	padding: 70px 0px;
}

.usage-timeline {
	padding-left: 0;
	position: relative;
	list-style-type: none;
}

.item-Height348 {
	height: 348px;
}

.item-Height430 {
	height: 430px;
}

.item-Height245 {
	height: 245px;
}

.item-Height175 {
	height: 175px;
}

.item-Height105 {
	height: 105px;
}

.item-Height140 {
	height: 140px;
}

.item-Height161 {
	height: 161px;
}

.item-Height98 {
	height: 98px;
}
/*----header-----*/
#header .navbar {
	margin-bottom: 0;
	position: fixed;
	z-index: 20;
	width: 100%;
}

#header .header-container {
	padding: 15px 15px;
	background-color: white;
}

#header .logo {
	color: #ff9647;
	font-size: 35px;;
	font-family: "Nunito";
	font-weight: bold;
}

#header .header-menu li a {
	font-family: "Nunito";
	font-size: 18px;
	color: #4A4A4A;
	letter-spacing: 0.05px;
	font-weight: bold;
}

#header .header-menu li a:hover {
	color: #ff9647;
}

/* danh sach cong viec */
.ds-cv-wapper{
	padding-top:85px;
	background-color: #e4d5c6;
	padding: 70px 0px;
}
.ds-cv-mainpage{
	 padding-top: 40px;
}
.row.ds-cv-mainpage-content{
	background-color: #fff;
	padding-bottom: 70px;
	border-radius: 4px;
    border: 1px dotted;
}
.ds-cv-mainpage-header h3{
	margin: 25px 0px;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 15px;
}
.ds-cv-mainpage-text-left{
	padding-left: 0px;
	border-bottom: 1px dotted #000;
}
.ds-cv-mainpage-text-left h4{
	font-size: 28px;
	color: #f77a1c;
}
.ds-cv-mainpage-text-left p{
	font-size: 18px;
}
.ds-cv-mainpage-text-left span{
	font-size: 16px;
    font-style: italic;
    font-weight: 100;
}
.ds-cv-mainpage-text-right{
	text-align: center;
}
td.ds-cv-mainpage-text-right button{
	margin-bottom: 130px;
    padding: 10px 20px;
    background-color: #ff7d45;
    border: none;
    color: #fff;
}
.ds-cv-mainpage-text{
	padding-top: 40px;
}
/*=====Phan trang======*/
.pagination.disabled a,  .pagination.disabled a:hover,  .pagination.disabled a:focus,  .pagination.disabled span {
  color: #eee;
  background: #fff;
  cursor: default;
}

.pagination { float: left; }

.pagination.disabled li.active a {
  color: #fff;
  background: #ff7d45;
  border-color: #ff7d45;
}

.paging-container select {
  float: left;
  margin: 20px 0 20px 10px;
  padding: 7px 3px;
  border-color: #ddd;
  border-radius: 4px;
  color: #ff7d45;
}
.ds-cv-mainpage-content .pagination>.active>a{
	background: #ff7d45;
  border-color: #ff7d45;
  color: #fff;
}
.ds-cv-mainpage-content .pagination>li>a,.ds-cv-mainpage-content .pagination>li>span {
	color: #ff7d45;

	}
