<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MockProject3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartedServlet</display-name>
    <servlet-name>StartedServlet</servlet-name>
    <servlet-class>controller.StartedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartedServlet</servlet-name>
    <url-pattern>/StartedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMoiUngVienServlet</display-name>
    <servlet-name>ThemMoiUngVienServlet</servlet-name>
    <servlet-class>controller.ThemMoiUngVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiUngVienServlet</servlet-name>
    <url-pattern>/ThemMoiUngVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachUngVienServlet</display-name>
    <servlet-name>DanhSachUngVienServlet</servlet-name>
    <servlet-class>controller.DanhSachUngVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachUngVienServlet</servlet-name>
    <url-pattern>/DanhSachUngVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachNguoiDungServlet</display-name>
    <servlet-name>DanhSachNguoiDungServlet</servlet-name>
    <servlet-class>controller.DanhSachNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachNguoiDungServlet</servlet-name>
    <url-pattern>/DanhSachNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMoiDichVuServlet</display-name>
    <servlet-name>ThemMoiDichVuServlet</servlet-name>
    <servlet-class>controller.ThemMoiDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiDichVuServlet</servlet-name>
    <url-pattern>/ThemMoiDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachDichVuServlet</display-name>
    <servlet-name>DanhSachDichVuServlet</servlet-name>
    <servlet-class>controller.DanhSachDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachDichVuServlet</servlet-name>
    <url-pattern>/DanhSachDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecServlet</display-name>
    <servlet-name>DanhSachCongViecServlet</servlet-name>
    <servlet-class>controller.DanhSachCongViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecServlet</servlet-name>
    <url-pattern>/DanhSachCongViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongTacVienServlet</display-name>
    <servlet-name>DanhSachCongTacVienServlet</servlet-name>
    <servlet-class>controller.DanhSachCongTacVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongTacVienServlet</servlet-name>
    <url-pattern>/DanhSachCongTacVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaThongTinCongTacVienServlet</display-name>
    <servlet-name>SuaThongTinCongTacVienServlet</servlet-name>
    <servlet-class>controller.SuaThongTinCongTacVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaThongTinCongTacVienServlet</servlet-name>
    <url-pattern>/SuaThongTinCongTacVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaThongTinTaiKhoanServlet</display-name>
    <servlet-name>SuaThongTinTaiKhoanServlet</servlet-name>
    <servlet-class>controller.SuaThongTinTaiKhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaThongTinTaiKhoanServlet</servlet-name>
    <url-pattern>/SuaThongTinTaiKhoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>controller.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PheDuyetUngVienServlet</display-name>
    <servlet-name>PheDuyetUngVienServlet</servlet-name>
    <servlet-class>controller.PheDuyetUngVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PheDuyetUngVienServlet</servlet-name>
    <url-pattern>/PheDuyetUngVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NhanViecServlet</display-name>
    <servlet-name>NhanViecServlet</servlet-name>
    <servlet-class>controller.NhanViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanViecServlet</servlet-name>
    <url-pattern>/NhanViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangChuNguoiDungServlet</display-name>
    <servlet-name>TrangChuNguoiDungServlet</servlet-name>
    <servlet-class>controller.TrangChuNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuNguoiDungServlet</servlet-name>
    <url-pattern>/TrangChuNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaNguoiDungServlet</display-name>
    <servlet-name>XoaNguoiDungServlet</servlet-name>
    <servlet-class>controller.XoaNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaNguoiDungServlet</servlet-name>
    <url-pattern>/XoaNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaUngVienServlet</display-name>
    <servlet-name>XoaUngVienServlet</servlet-name>
    <servlet-class>controller.XoaUngVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaUngVienServlet</servlet-name>
    <url-pattern>/XoaUngVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemDangKyDichVuServlet</display-name>
    <servlet-name>ThemDangKyDichVuServlet</servlet-name>
    <servlet-class>controller.ThemDangKyDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemDangKyDichVuServlet</servlet-name>
    <url-pattern>/ThemDangKyDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecKhachHangServlet</display-name>
    <servlet-name>DanhSachCongViecKhachHangServlet</servlet-name>
    <servlet-class>controller.DanhSachCongViecKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecKhachHangServlet</servlet-name>
    <url-pattern>/DanhSachCongViecKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecCTVServlet</display-name>
    <servlet-name>DanhSachCongViecCTVServlet</servlet-name>
    <servlet-class>controller.DanhSachCongViecCTVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecCTVServlet</servlet-name>
    <url-pattern>/DanhSachCongViecCTVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XacNhanHoanThanhCVServlet</display-name>
    <servlet-name>XacNhanHoanThanhCVServlet</servlet-name>
    <servlet-class>controller.XacNhanHoanThanhCVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XacNhanHoanThanhCVServlet</servlet-name>
    <url-pattern>/XacNhanHoanThanhCVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhGiaCongTacVienServlet</display-name>
    <servlet-name>DanhGiaCongTacVienServlet</servlet-name>
    <servlet-class>controller.DanhGiaCongTacVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhGiaCongTacVienServlet</servlet-name>
    <url-pattern>/DanhGiaCongTacVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyTaiKhoanServlet</display-name>
    <servlet-name>DangKyTaiKhoanServlet</servlet-name>
    <servlet-class>controller.DangKyTaiKhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyTaiKhoanServlet</servlet-name>
    <url-pattern>/DangKyTaiKhoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMoiNguoiDungServlet</display-name>
    <servlet-name>ThemMoiNguoiDungServlet</servlet-name>
    <servlet-class>controller.ThemMoiNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiNguoiDungServlet</servlet-name>
    <url-pattern>/ThemMoiNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartNguoiDungDichVuServlet</display-name>
    <servlet-name>ChartNguoiDungDichVuServlet</servlet-name>
    <servlet-class>controller.ChartNguoiDungDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartNguoiDungDichVuServlet</servlet-name>
    <url-pattern>/ChartNguoiDungDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemTrongDanhSachCongViecServlet</display-name>
    <servlet-name>TimKiemTrongDanhSachCongViecServlet</servlet-name>
    <servlet-class>controller.TimKiemTrongDanhSachCongViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemTrongDanhSachCongViecServlet</servlet-name>
    <url-pattern>/TimKiemTrongDanhSachCongViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DichVuGiupViecTheoGioServlet</display-name>
    <servlet-name>DichVuGiupViecTheoGioServlet</servlet-name>
    <servlet-class>controller.DichVuGiupViecTheoGioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DichVuGiupViecTheoGioServlet</servlet-name>
    <url-pattern>/DichVuGiupViecTheoGioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DichVuVeSinhMayLanhServlet</display-name>
    <servlet-name>DichVuVeSinhMayLanhServlet</servlet-name>
    <servlet-class>controller.DichVuVeSinhMayLanhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DichVuVeSinhMayLanhServlet</servlet-name>
    <url-pattern>/DichVuVeSinhMayLanhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioiThieuServlet</display-name>
    <servlet-name>GioiThieuServlet</servlet-name>
    <servlet-class>controller.GioiThieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioiThieuServlet</servlet-name>
    <url-pattern>/GioiThieuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaDichVuServlet</display-name>
    <servlet-name>SuaDichVuServlet</servlet-name>
    <servlet-class>controller.SuaDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaDichVuServlet</servlet-name>
    <url-pattern>/SuaDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaDichVuServlet</display-name>
    <servlet-name>XoaDichVuServlet</servlet-name>
    <servlet-class>controller.XoaDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaDichVuServlet</servlet-name>
    <url-pattern>/XoaDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CongViecDaNhanCTVServlet</display-name>
    <servlet-name>CongViecDaNhanCTVServlet</servlet-name>
    <servlet-class>controller.CongViecDaNhanCTVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CongViecDaNhanCTVServlet</servlet-name>
    <url-pattern>/CongViecDaNhanCTVServlet</url-pattern>
  </servlet-mapping>
</web-app>